/* styling for the main header. */
header{
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 5px;
}
/* styling for the search header. */
h6{
    margin: 10px;

}
/* styling for the five day Forecast blocks. */
.fiveDay{
    /* font-size: 15px; */
    background-color: dodgerblue;
    color: white;
    float: left;
    border-radius: 2px;
    margin: 10px;
    padding: 2%;
}
/* styling for the dynamically created city search buttons. */
.searchBtn{
    display: block;
    color: black;
    border-radius: 1px;
    border-color: darkgray;
    background-color: white;
    width: 100%;
}
/* styling for the search area. */
#searchArea{
    background-color: rgb(240, 240, 240);
    
}
/* styling for the search button. */
#button-addon2{
    background-color: dodgerblue;
    color: white;
}
/* styling for the current weather area. */
#currentWeather{
    margin: 10px;
    padding: 2%;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 5px;
}
/* styling used to illustrate the uv Index */
.high{
    background-color: #ff0000;
    color: white;
    padding: 3px;
    border-radius: 5px;
  }
  
  .med {
    background-color: #ff8800e8;
    color: black;
    padding: 3px;
    border-radius: 5px;
  }
  
  .low {
    background-color: #00ff00;
    color: black;
    padding: 3px;
    border-radius: 5px;
  }
  