header{
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 5px;
}

h6{
    margin: 10px;

}
.fiveDay{
    /* font-size: 15px; */
    background-color: dodgerblue;
    color: white;
    float: left;
    border-radius: 2px;
    margin: 10px;
    padding: 2%;
}
.searchBtn{
    display: block;
    color: black;
    border-radius: 1px;
    border-color: darkgray;
    background-color: white;
    width: 100%;
}
#searchArea{
    background-color: rgb(240, 240, 240);
    
}

#button-addon2{
    background-color: dodgerblue;
    color: white;
}


#currentWeather{
    margin: 10px;
    padding: 2%;
    border-style: solid;
    border-color: darkgrey;
    border-radius: 5px;
}